@charset "UTF-8";
/* mixin para el .row de _mainMapa.scss */
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../assets/img/infamous-second-son-listing-thumb-03-ps4-us.png);
  background-size: cover;
  background-repeat: no-repeat;
}

header .custom-navbar {
  width: 90%; /* Ancho del navbar al 90% de la página */
  margin: 0 auto; /* Centra el navbar horizontalmente */
  margin-top: 5px;
  margin-bottom: 10px;
}
header .custom-navbar .navbar-nav .nav-item .nav-link {
  font-size: 20px;
}
header nav a {
  text-decoration: none;
  color: #333; /* Color del texto normal */
  padding: 5px 10px;
  border: 1px solid transparent; /* Añade un borde transparente al enlace */
  transition: border-color 0.3s, color 0.3s; /* Agrega una transición suave al color del borde y al color del texto */
}
header nav a:hover {
  border-color: #000; /* Cambia el color del borde al hacer hover */
}

main {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.95);
  margin: auto;
  width: 90%;
  height: 100%;
}
main p, main h1, main h2, main h3, main h5 {
  color: yellow;
  font-family: "Times New Roman", Times, serif;
}
main p {
  margin: auto;
  width: 90%;
  margin-top: 2vh;
}

.mPoderes .card {
  background-color: black;
  border: 1px solid #555;
  border-radius: 8px;
  margin-bottom: 20px;
}
.mPoderes .card img {
  max-width: 30%;
  height: auto;
  border-radius: 8px 8px 0 0;
  margin-top: 2vh;
  margin-left: 1vw;
}

/* estilo de mPersonajes */
.mPersonajes {
  padding: 20px;
}
.mPersonajes img {
  width: 13%;
  height: 23%;
  margin-left: 2vw;
  margin-top: 2vh;
}
.mPersonajes .media {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
@media (max-width: 800px) {
  .mPersonajes .media {
    flex-direction: column;
  }
  .mPersonajes h2 {
    margin-left: 2vw;
  }
}
.mPersonajes .personaje-img {
  width: 150px;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
}
.mPersonajes .media-body {
  display: inline-block;
}

.mContacto {
  min-height: 80vh;
}

.mMapa img {
  margin-left: 8vw;
  margin-top: 2vh;
}
.mMapa li {
  color: yellow;
  list-style: none;
}
.mMapa li ul {
  margin: auto;
  width: 90%;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mMapa .animated-image {
  animation: fadeIn 1s ease-in-out; /* Aplica la animación durante 1 segundo con un efecto ease-in-out */
}
.mMapa .dcontainer li {
  text-align: left;
}
.mMapa .dcontainer li ul {
  padding: auto;
}
.mMapa .dcontainer .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  justify-content: center;
}

.mContacto {
  padding: 20px 0;
  /* Ajuste de tamaño de input para dispositivos móviles */
}
.mContacto label {
  color: yellow;
}
.mContacto .formulario {
  max-width: 600px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .mContacto .formulario input[type=text],
  .mContacto .formulario input[type=email],
  .mContacto .formulario textarea {
    height: 50px;
    font-size: 16px;
  }
}

/* Estilos para el contenedor del footer */
footer {
  width: 90%;
  margin: 10px auto;
  /* Estilos para los elementos internos del footer */
  /* Estilos para las imágenes */
}
footer .fcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
footer .footer-content {
  display: flex;
  align-items: center;
}
footer .footer-item {
  margin: 0 10px;
}
footer .footer-item img {
  max-width: 50px; /* Ajusta el ancho deseado de las imágenes */
  height: auto;
}

.error-404 {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: none;
}
.error-404 .error-container {
  text-align: center;
}
.error-404 h1 {
  color: #333;
  font-size: 3em;
}
.error-404 p {
  color: #555;
  font-size: 1.2em;
}
.error-404 a {
  color: #007BFF;
  text-decoration: none;
}
.error-404 a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
