.mMapa {
    img{
        margin-left: 8vw;
        margin-top: $tamanio-2vh;
    }

    li{
        color: $color-texto;
        list-style: none;

        ul{
            margin:map-get($estilo , margen );
            width: 90%;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    .animated-image {
        animation: fadeIn 1s ease-in-out; /* Aplica la animación durante 1 segundo con un efecto ease-in-out */
    }


    .dcontainer {
        li{
            text-align: left;
            ul{
                padding: map-get($estilo , relleno );
            }
        }
        .row {
            width: 100%;
        
            @include flexbox(row, flex-start, center);
        
        }
    }
} 
